.button
{
    text-align: center;
    padding: 2vw 1vw;
    font-family: "Muli", sans-serif;
}

.buttons
{
    background-color: #b62020;
    color: #ffffff;
    border: solid #b62020;
    /*border-radius: 0.25vw;*/
}

.buttons:hover
{
    background-color: #fe8181;
    color: #ffffff;
    border: none;
    border: solid #fe8181;
    /*border-radius: 0.25vw;*/
}


.title
{
    text-align: center;
    margin-bottom: 2vw;
    padding: 2vw 1vw;
    font-family: "Space Mono", monospace;
}


.container
{
    margin-left: auto;
    margin-right: auto;
    padding-left: 10vw;
    padding-right: 10vw;
}


body
{
    text-align: left;
    margin: 0;
    color: #000000;
    font-family: "Muli", sans-serif;
}


.img
{
    width: auto; /*Making the image fill its container*/
    height: 25vw; /*Maintaining the image's aspect ratio*/
    display: block; /*Removing any default inline spacing*/
    margin: 0 auto; /*Centering the image within its container*/
}

